.clock {
	margin: 20px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid black;
	background-color: aqua;
	position: relative;
}

.dot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hand {
	position: absolute;
	top: 50%;
	left: calc(50% - var(--width) / 2);
	width: var(--width);
	height: var(--height);
	background-color: var(--color);
	transform-origin: center 0;
}

.second {
	z-index: 10;

	--width: 2px;
	--height: 45%;
	--color: red;
}
