.dialog-content {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-width 1s ease-in-out, max-height 1s ease-in-out,
		opacity 1s ease-in-out;
}

.dialog-content.dialog-expand {
	max-height: 500px; /* Enough for content */
	max-width: 300px; /* The final width */
	opacity: 1;
}
